.container { 
	/*делаем аккуратный отступ сверху*/
	margin-top: 20px;
}
.header {
	background-color: #E6E6FA; 
	border-bottom: 2px solid #4682B4;
}
.row  {
	/*убираем отступы, которые есть по умолчанию в bootstrap */
	margin-left: 0px;
}
.header span {
	font-size: 20px; 
	line-height: 50px;
} 
.left {
	margin-left: 0; 
	text-align: center;
	border-right: 2px solid #FFFAFA;
}
.center {
	text-align: center; 
	border-right: 2px solid #FFFAFA;
	/*меняем отступ с учетом вертикальный границ*/
	margin-left: 18px;
}
.right {
	text-align: center; 
	margin-left: 18px; 
	float:right;
}
.content {
	width: inherit; 
}
.line {
	text-align: center;
}
.line:nth-child(2n) {
	/*каждая четная строка будет светло-голубой*/
	background-color: #e8edff; 
}
.line span {
	font-size: 16px; 
	line-height: 40px; 
}
.line .btn-default {
	height: 30px; 
	width: 160px; 
	margin: 5px 0;
}
.line .right form {
	margin: 0;
}
.close {
	margin-right: 10px; 
	margin-top: 5px;
}

.modal-body {
	font-size: 16px; 
	padding-top: 0;
}
#user_street, 
#user_suite, 
#user_city, 
#user_company_name, 
#user_catchPhrase {
	/*делам отступ для полей модального окна*/
	margin-left: 15px;
}
.modal-body span {
	font-weight: bold;
}
.modal-header {
	font-weight: bold; 
	font-size: 32px; 
	margin: 10px 0;
}
.template_user {
	float:left;
}












